@using Ex8.Services
@model Product

@inject IProductsService ProductsService

@{
    ViewBag.Title = "Add product";
    Layout = "_Layout";
}

<h2>Add product</h2>
<div class="container">
    <form asp-antiforgery="true" asp-controller="Products" asp-action="Create" method="post">
        <div class="form-group">
            <div class="form-control">
                <label>Name</label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-control">
                <label>Description</label>
                <input asp-for="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-control">
                <label>Price</label>
                <input asp-for="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-controller="Products" asp-action="Index" class="btn btn-primary" type="button">Back</a>
    </form>
</div>

<script type="text/javascript">
    window.onload = () => {
        var s = document.getElementById("Name")

        console.log(s);
    }
</script>