@{
    ViewData["Title"] = "School Admin App - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to School Administration App</h1>
    <p>Please choose a proper module to manage your school teachers and students</p>
</div>
