@model Product

<div class="form-group border border-secondary">
    <div class="form-control border border-secondary">
        <label>Name</label>
        <input value="@Model.Name" disabled />
    </div>
    <div class="form-control border border-secondary">
        <label>Description</label>
        <input value="@Model.Description" disabled />
    </div>
    <div class="form-control border border-secondary">
        <label>Price</label>
        <input value="@Model.Price" disabled=""/>
    </div>
</div>